*{
  background-color: #000000;
}

.app {
  background-color: #000000;
  padding: 50px;
}

.title {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: 'Arial', sans-serif;
  margin: 100px 0 10px 0;
  padding: 0;
}

.subtitle {
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}